Adafruit-Blinka==8.5.0
adafruit-circuitpython-amg88xx==1.2.18
adafruit-circuitpython-busdevice==5.2.3
adafruit-circuitpython-register==1.9.14
adafruit-circuitpython-requests==1.12.8
adafruit-circuitpython-typing==1.8.1
Adafruit-PlatformDetect==3.30.0
Adafruit-PureIO==1.1.9
autopep8==1.7.0
btrfsutil==5.19.1
colorama==0.4.5
defusedxml==0.7.1
future==0.18.2
Glances==3.2.7
nftables==0.1
packaging==21.3
paho-mqtt==1.6.1
ply==3.11
psutil==5.9.2
pyaml==21.10.1
pycairo==1.21.0
pycodestyle==2.9.1
pyftdi==0.54.0
PyGObject==3.42.2
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-sip==12.11.0
pyserial==3.5
pyusb==1.2.1
PyYAML==6.0
Reflector==2021.11.20.2.41.3
shtab==1.5.5
team==1.0
termcolor==2.0.0
tldr==3.1.0
toml==0.10.2
typing_extensions==4.3.0
