[Unit]
Description=Start IoT device

[Service]
ExecStart=python3 /opt/iot/IoTlibrary/IotDeviceStartup.py
Type=simple

[Install]
WantedBy=multi-user.target
