[Unit]
Description=Start sensor
Requires=iot.devices.service

[Service]
ExecStart=python3 /opt/Innovationproject2022/IoT/IotSensorStartup.py
Type=simple

[Install]
WantedBy=multi-user.target
