[Unit]
Description=Start sensor
Requires=iot.devices.service

[Service]
ExecStartPre=/bin/sh -c 'until ping -c1 google.com; do sleep 1; done;'
ExecStart=python3 /opt/iot/IoT/IotSensorStartup.py -f /opt/iot/IoT/ExampleSensor/sensor_config.py
Type=simple

[Install]
WantedBy=multi-user.target
