body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-flow: column 0;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background-color: black;
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  min-height: 80vh;
}

.main_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  max-width: 700px;
  /* max-height: 80%; */
  margin: 3rem 20px 3rem 5px;
  word-break: break-all;
  box-shadow: 1px 1px 1px 1px black;
}
.main_content-messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  height: 80%;
  max-width: 700px;
  /* max-height: 80%; */
  margin: 1rem 0 1rem 0;
  word-break: break-all;
  /* box-shadow: 1px 1px 1px 1px black; */
}

.main_content-messages-message {
  border-bottom: 1px solid black;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #ff0000;
  height: 1px;
}
